#title {
    background-color:#ff4c68;
}
/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
.title-heading {
    font-family: montserrat;
    size: 3rem;
    line-height: 1.5;
}

.containner-fluid {
    padding: 3% 15%;
}